<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Verification</title>
    <style>
        @font-face {
            font-family: MinecraftRegular;
            src: url("/minecraft-font/MinecraftRegular-Bmg3.otf");
        }

        @font-face {
            font-family: MinecraftItalic;
            src: url("/minecraft-font/MinecraftItalic-R8Mo.otf");
        }

        html,
        body,
        #wrapper {
            font-family: MinecraftRegular;
            background-color: rgb(38, 38, 38);
            color: rgb(255, 255, 255);
            text-align: justify;
            width: auto;
            max-width: 600px;
        }

        #wrapper {
            padding: 20px;
        }

        #items {
            display: flex;
            justify-content: space-around;
        }

        #items>a>img {
            padding: 5px;
            width: 15vmin;
            height: 15vmin;
            object-fit: contain;
            background-color: rgb(19, 19, 19);
            border: rgb(81, 81, 81) solid 3px;
        }

        #warning {
            color: rgb(255, 85, 85);
            text-shadow: 0 0 5px #000000;
        }

        footer {
            text-align: center;
            font-size: 0.8em;
        }
    </style>
</head>

<body>
    <div id="wrapper">
        <p>Dear <%= name %>,</p>
        <p>You have requested a password reset for your account. To confirm your request, please match one of the items
            displayed below with the one shown on our website.</p>

        <div id="items">
            <% items?.forEach(element=> { %>
                <a href="https://craftdle-backend-production.up.railway.app/users/userVerify?token=<%= token %>&id=<%= element?.id %>"><img
                        src="https://craftdle-backend-production.up.railway.app/assets/items/<%= element?.src %>" alt="<%= element?.name %>"></a>
                <% }); %>
        </div>

        <div id="warning">
            <p>If you did not request a password reset, please ignore this email. Your account remains secure, and no
                changes will be made.</p>
            <p>If you believe this email was sent in error or you notice unusual activity on your account, please
                contact our support team immediately.</p>
        </div>

        <footer>
            <p>Thank you for using Craftdle!</p>
            <p>&copy; 2025 Craftdle. All rights reserved.</p>
        </footer>
    </div>
</body>

</html>